*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karma", sans-serif;
}
.top-menu{
    background-color: #ffff;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    font-size: 24px ;
}
.page-content {
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
   
   }
   .gird-photo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
   }
   .photo {
    max-width: 300px;
    padding: 0px 8px 50px 8px;
    text-align: center;
   }
   .photo img {
    width: 100%;
   
   }
   .photo h3 {
    font-weight: 400;
    font-size: 24px;
    width: 100%;
    padding: 8px 0px 16px 0px;
   
   }
   .photo p {
    font-size: 15px;
    line-height: 1.5;
   
   }	
    <!--Pagination-->
   .pagination {
    padding: 16px 0px;
   }
  .bar{ 
    display: flex;
    justify-content: center;
    align-items: center;
   }
      .bar-items {
    background-color: rgb(255, 255, 255);
    padding: 8px 16px;
    color: black;
    text-decoration: none;
   }
   * Style About Me */

 

.about {

 text-align: center;

}

 

.about .content {

 max-width: 100%;

 height: auto;

 padding: 0px 30px;

}

 

.about img {

 max-width: 100%;

 height: auto;

 padding: 0px 30px;

}

 

.about p {

 padding-bottom: 62px;

}


   
   
   
    